
ul{
    padding: 0;
}
#aboutus{

    margin-bottom: 100px;
    margin-left:300px;
    margin-top:100;

}
#aboutus2{

    margin-left:300px;

}
.aboutus3{

    padding-right:300;
}
.aboutuscenter{
    text-align:center;
}
.aboutusjustify{
    text-align:justify;
}


.arial 
{
    font-family: Arial,Helvetica, sans-serif;
  }

  table {
    margin:100;
}


