.submenu li{
    display: inline;
    float: right;
    padding-right: 30px;
    font-size: 24px;
    position: relative;
    top: 50px;
    align-content: center;
}

header {
    background-color:#fffff;
    width: 100%;
    height: 100px;
    position: fixed;   
}

body {
    background-color: rgb(224, 216, 216);
}

.proimg {
    padding: 10px 30px ;
}

.space {
    padding: 0px 40px;
}

h1 {
    font-size: 40px;
}

label > input{ 
    visibility: hidden; 
    position: absolute; 
  }
  label > input + img{ 
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{ 
    border:2px solid #f00;
  }

  .font {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }